* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
:root {
  --blue: #00bcd4;
  --black: #121212;
  --dark-blue: #274548af;
  --white: #fff;
  --bg: #222222;
  --btn-hover: #029db1;
  --bt-gray: #262626;
  --btn-shadow: 0px 3px 6px #029db1;
  --hover-shadow: 0 10px 10px #03819243;
  --bg-form: #292929;
  --tran-slate: translateY(-4px);
  --pink: pink;
  --blue1: blue;
  --font: 16px sans-serif;
}
body {
  background-color: var(--bg);
}

/* ====Header==== */
header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  box-shadow: 0 3px 15px rgb(41, 41, 41);
  position: sticky;
  top: 0;
  z-index: 3;
}

/* logo */
header .nav-logo h3 {
  font-size: 30px;
  font-family: sans-serif;
  color: var(--white);
}
header .nav-logo h3 span {
  color: var(--blue);
}
/* nav menu */
header .nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
header .nav-menu li a {
  text-decoration: none;
  color: var(--white);
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  transition: all 0.3s;
  font-size: 15px;
}
header .nav-menu li a:not(.content):hover {
  color: var(--blue);
}
header .nav-menu li .content {
  padding: 10px 25px;
  background-color: var(--blue);
  border: none;
  border-radius: 20px;
  transition: all 0.5s;
  box-shadow: var(--btn-shadow);
}
header .nav-menu li .content:hover {
  transform: var(--tran-slate);
  background-color: var(--btn-hover);
  box-shadow: var(--hover-shadow);
}
main {
  margin: 0px 150px;
}
/* ===============Body================= */
main .hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero h1 {
  font-family: sans-serif;
  font-size: 59px;
  text-align: center;
  color: var(--white);
  line-height: 80px;
}
main .hero h1 span {
  color: var(--blue);
}
main .hero p {
  font-family: sans-serif;
  text-align: center;
  margin: 10px 0px;
  color: var(--white);
  font-size: 18px;
}
main .hero .btn {
  display: flex;
  gap: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
}
main .hero .btn .btn1,
main .form form button {
  padding: 10px 20px;
  background-color: var(--blue);
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  box-shadow: var(--btn-shadow);
  color: var(--white);
}
main .hero .btn .btn1:hover,
main .form form button:hover {
  transform: var(--tran-slate);
  background-color: var(--btn-hover);
  box-shadow: var(--hover-shadow);
}
main .hero .btn .btn2 {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  transition: all 0.3s;
  box-shadow: var(--btn-shadow);
  color: var(--white);
}
main .hero .btn .btn2:hover {
  transform: var(--tran-slate);
  box-shadow: var(--hover-shadow);
}

/* ==About Section== */
main .about {
  background-color: transparent;
  width: 100%;
}
main .about h1,
main .projects h1,
main .form h1 {
  color: var(--blue);
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}
/* group-box */
main .about .group-box {
  width: 100%;
}

/* one box */
main .about .group-box .one-box,
main .about .group-box .three-box .box,
main .projects .projects-box .box,
main .form form {
  width: 100%;
  background-color: var(--bg-form);
  border: 1px solid gray;
  border-radius: 18px;
  padding: 25px;
  color: var(--white);
  font: var(--font);
  line-height: 23px;
  transition: all 0.3s;
}
main .about .group-box .one-box:hover,
main .about .group-box .three-box .box:hover,
main .projects .projects-box .box:hover,
main .form form:hover {
  transform: translateY(-4px);
  box-shadow: var(--hover-shadow);
}

/* .three-box */
main .about .group-box .three-box,
main .projects .projects-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
main .about .group-box .three-box .box,
main .projects .projects-box .box {
  width: 33%;
}
main .about .group-box .three-box .box h3,
main .projects .projects-box .box h3 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}

/* ==Projects Section==*/
main .projects {
  width: 100%;
  margin-top: 50px;
}
main .projects .projects-box .box h3 {
  color: var(--blue);
}
main .projects .projects-box .box .btn button {
  padding: 4px 10px;
  border-radius: 50px;
  border: none;
  color: var(--blue);
  background-color: #00bbd429;
  font-family: sans-serif;
  font-weight: 800;
  cursor: pointer;
}

/* ==Form Section== */
main .form {
  width: 60%;
  margin: 50px auto;
}

main .form form {
  padding: 30px;
}

main .form form .name {
  margin-bottom: 18px;
}
main .form form .name label {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--white);
}
main .form form .name input,
main .form form .name textarea {
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: transparent;
  margin-top: 10px;
  color: var(--white);
}
main .form form .name input:focus,
main .form form .name textarea:focus {
  outline: none;
  border: 1px solid var(--blue);
}
main .form form button {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  color: var(--black);
}
main .form form button:focus {
  outline: none;
}

/* ==============Footer============= */
footer {
  padding: 25px 0;
  background-color: var(--black);
  margin-top: 90px;
  width: 100%;
}
footer p {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-family: sans-serif;
  font-size: 20px;
}
footer .link {
  text-align: center;
  margin-top: 15px;
  gap: 20px;
  display: flex;
  justify-content: center;
}
footer .link a {
  text-decoration: none;
  color: var(--white);
  font-family: sans-serif;
  font-weight: bold;
  transition: all 0.3s;
  font-size: 20px;
}
footer .link a:hover {
  color: var(--blue);
}

/* ======Responsive====== */
/* 1300 */
@media (max-width:1200px){
  main .projects .projects-box{
    flex-wrap: wrap;
  }
  main .projects .projects-box .box{
    width: 48.5%;
  }
}



/* 1150 */
@media (max-width: 1150px) {
  main {
    margin: 0px 100px;
  }
}
/* 1100 */
@media (max-width: 1100px) {
  header {
    padding: 18px 100px;
  }
}
/* 920 */
@media (max-width:920){
  main {
    margin: 0px 30px;
  }
} 


/* 880  */
@media (max-width: 880px) {
  header {
    padding: 12px 40px;
  }

  main .about .group-box .three-box{
    flex-wrap: wrap;
  }

  main .about .group-box .three-box .box{
    width: 48.1%;
  }
}
/* 840 */
@media (max-width:840px){
  main .projects .projects-box .box
  {
    width: 100%;
  }
}
/* 750 */
@media (max-width:750px){
  main .about .group-box .three-box .box,
  main .form
  {
    width: 100%;
  }
}



/* 630 */
@media (max-width: 630px) {
  header .nav-menu {
    display: none;
  }
  header .nav-logo {
    margin: auto;
  }
  main {
    margin: 0px 30px;
  }
  main .about .group-box .three-box .box{
    width: 100%;
  }
}
/* 576 */
@media (max-width:576px){
  main .hero h1{
    font-size: 40px;
    line-height: 70px;
  }
}